#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Name[es]=Limpiar Sistema
Name[es_MX]=Limpiar Sistema
Comment[es]=Limpiar el sistema
Comment[es_MX]=Limpiar el sistema
Exec=gnome-terminal -e limpieza-automatica
Icon=/home/pepe/Imágenes/limpiar.png
Terminal=false
Type=Application
Categories=Utility;Application;

